<div class="container-fluid container-cards-pf">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li><a ui-sref="landing">Thermostat</a></li>
    <li><a ui-sref="jvmList({ '#': ctrl.systemId })" translate>systemInfo.JVM_LIST_BREADCRUMB</a></li>
    <li><a ui-sref="systemInfo({ systemId: ctrl.systemId })">{{ctrl.systemId}}</a></li>
  </ol>

  <customizable-error-message ng-show="ctrl.showErr" dismissible="true" err-message="errMessage" err-title="errTitle"></customizable-error-message>

  <div ng-show="!ctrl.showErr">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="panel-group" id="accordion-markup">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" translate>systemInfo.table.HEADER</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <ul class="list-group">
                <table class="table table-fixed table-striped table-bordered">
                  <thead>
                    <tr>
                      <th translate>systemInfo.table.KEY_COLUMN_LABEL</th>
                      <th translate>systemInfo.table.VALUE_COLUMN_LABEL</th>
                    </tr>
                  </thead>
                  <tbody class="break-word-wrap">
                    <tr>
                      <td translate>systemInfo.table.HOSTNAME</td>
                      <td>{{ctrl.systemInfo.hostname}}</td>
                    </tr>
                    <tr>
                      <td translate>systemInfo.table.OS</td>
                      <td>{{ctrl.systemInfo.osName}}</td>
                    </tr>
                    <tr>
                      <td translate>systemInfo.table.KERNEL</td>
                      <td>{{ctrl.systemInfo.osKernel}}</td>
                    </tr>
                    <tr>
                      <td translate>systemInfo.table.CPU</td>
                      <td translate="systemInfo.table.CPU_MODEL_FMT" translate-values="{ model: ctrl.systemInfo.cpuModel, coreCount: ctrl.systemInfo.cpuCount }"></td>
                    </tr>
                    <tr>
                      <td translate>systemInfo.table.MEMORY</td>
                      <td>{{ctrl.systemInfo.totalMemory | formatBytes}}</td>
                    </tr>
                  </tbody>
                </table>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cards-pf">
      <div class="container container-cards-pf">
        <!-- System-CPU Donut Chart -->
        <div class="col-xs-12 col-md-6" ng-controller="SystemCpuController as ctrl">
          <div class="card-pf card-pf-view">
            <div class="card-pf-heading">
              <label class="card-pf-title" translate>systemInfo.systemCpu.CHART_LABEL</label>
              <mc-add class="pull-right" svc-name="{{systemId}}-cpu" get-fn="ctrl.multichartFn()"></mc-add>
            </div>
            <div class="card-pf-body">
              <div pf-donut-pct-chart id="cpuChart" config="ctrl.config" data="ctrl.data"></div>
            </div>
          </div>
        </div>
        <div class="system-memory-charts" ng-controller="SystemMemoryController as ctrl">
          <!-- System-Memory Donut Chart -->
          <div class="col-xs-12 col-md-6">
            <div class="card-pf card-pf-view">
              <div class="card-pf-heading">
                <label class="card-pf-title" translate>systemInfo.systemMemory.DONUT_CHART_LABEL</label>
                <mc-add class="pull-right" svc-name="{{systemId}}-memory" get-fn="ctrl.multichartFn()"></mc-add>
              </div>
              <div class="card-pf-body">
                <div pf-donut-pct-chart id="systemMemoryDonutChart" config="ctrl.donutConfig" data="ctrl.donutData"></div>
              </div>
            </div>
          </div>
          <!-- System-Memory Line Chart -->
          <div class="col-xs-12 col-md-12">
            <div class="card-pf card-pf-view">
              <div class="card-pf-heading">
                <label class="card-pf-title" translate>systemInfo.systemMemory.LINE_CHART_LABEL</label>
              </div>
              <!-- Metric Controls: Refresh Rate -->
              <div class="row" style="margin-top:2vh">
                <div class="col-xs-12 col-md-3">
                  <label for="refreshCombo" class="label label-info" translate>systemInfo.systemMemory.REFRESH_RATE_LABEL</label>
                  <select name="refreshCombo" class="combobox form-control" ng-model="refreshRate">
                    <option value="-1" translate>systemInfo.refresh.DISABLED</option>
                    <option value="1000" selected translate="systemInfo.refresh.SECONDS" translate-values="{ SECONDS: 1, DEFAULT: true }" translate-interpolation="messageformat"></option>
                    <option value="2000" translate="systemInfo.refresh.SECONDS" translate-values="{ SECONDS: 2 }" translate-interpolation="messageformat"></option>
                    <option value="5000" translate="systemInfo.refresh.SECONDS" translate-values="{ SECONDS: 5 }" translate-interpolation="messageformat"></option>
                    <option value="10000" translate="systemInfo.refresh.SECONDS" translate-values="{ SECONDS: 10 }" translate-interpolation="messageformat"></option>
                    <option value="30000" translate="systemInfo.refresh.SECONDS" translate-values="{ SECONDS: 30 }" translate-interpolation="messageformat"></option>
                  </select>
                </div>
                <!-- Metric Controls: Max Data Age -->
                <div class="col-xs-12 col-md-3">
                  <label for="dataAgeCombo" class="label label-info" translate>systemInfo.systemMemory.MAX_DATA_AGE_LABEL</label>
                  <select name="dataAgeCombo" class="combobox form-control" ng-model="dataAgeLimit">
                    <option value="10000" translate="systemInfo.dataAge.SECONDS" translate-values="{ SECONDS: 10 }" translate-interpolation="messageformat"></option>
                    <option value="30000" selected translate="systemInfo.dataAge.SECONDS" translate-values="{ SECONDS: 30, DEFAULT: true }" translate-interpolation="messageformat"></option>
                    <option value="60000" translate="systemInfo.dataAge.MINUTES" translate-values="{ MINUTES: 1 }" translate-interpolation="messageformat"></option>
                    <option value="300000" translate="systemInfo.dataAge.MINUTES" translate-values="{ MINUTES: 5 }" translate-interpolation="messageformat"></option>
                    <option value="900000" translate="systemInfo.dataAge.MINUTES" translate-values="{ MINUTES: 15 }" translate-interpolation="messageformat"></option>
                  </select>
                </div>
              </div>
              <!-- Line Chart -->
              <div class="card-pf-body">
                <div pf-line-chart id="systemMemoryLineChart" config="ctrl.lineConfig" chart-data="ctrl.lineData" set-area-chart="false" show-x-axis="true" show-y-axis="true">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
