<div class="container-fluid container-cards-pf">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li><a ui-sref="landing" translate>APP_TITLE</a></li>
  </ol>

  <div class="blank-slate-pf" style="">
    <img src="~images/landing-image.png" alt="Landing Image"/>

    <h1 translate>landing.WELCOME</h1>
    <h3 translate>landing.APP_TITLE</h3>
  </div>
</div>

<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-md-4">
      <div class="card-pf">

        <div class="card-pf-heading">
          <div class="card-pf-title" translate>landing.NAVIGATION</div>
        </div>

        <div class="card-pf-body">
          <div class="card-pf-subtitle">
            <ul>
              <li>
                <a ui-sref="jvmList" translate>landing.nav.JVM_LISTING</a>
              </li>
              <li>
                <a ui-sref="multichart" translate>landing.nav.MULTICHARTS</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
