<div class="container-fluid container-cards-pf">
  <div class="form-group">
    <label for="tlsSwitch" class="label label-info pull-left" translate>userPrefs.USE_TLS</label>
    <input class="bootstrap-switch pull-right" id="tlsSwitch" name="tlsSwitch"
                                                              data-size="mini"
                                                              type="checkbox"
                                                              ng-checked="$ctrl.tlsEnabled"
                                                              />
    <p>
      <span translate>userPrefs.TLS_DESCRIPTION</span>
      <br/>
      <span translate>userPrefs.RESTART_NOTE</span>
    </p>
  </div>
</div>
