<div class="container-fluid">

  <div class="row" style="margin-top:2vh">
    <div class="col-xs-12 col-md-3">
      <label for="refreshCombo" class="label label-info" translate>jvmGc.REFRESH_RATE_LABEL</label>
      <select name="refreshCombo" class="combobox form-control" ng-model="refreshRate">
        <option value="-1" translate>jvmGc.refresh.DISABLED</option>
        <option value="1000" selected translate="jvmGc.refresh.SECONDS" translate-values="{ SECONDS: 1, DEFAULT: true }" translate-interpolation="messageformat"></option>
        <option value="2000" translate="jvmGc.refresh.SECONDS" translate-values="{ SECONDS: 2 }" translate-interpolation="messageformat"></option>
        <option value="5000" translate="jvmGc.refresh.SECONDS" translate-values="{ SECONDS: 5 }" translate-interpolation="messageformat"></option>
        <option value="10000" translate="jvmGc.refresh.SECONDS" translate-values="{ SECONDS: 10 }" translate-interpolation="messageformat"></option>
        <option value="30000" translate="jvmGc.refresh.SECONDS" translate-values="{ SECONDS: 30 }" translate-interpolation="messageformat"></option>
      </select>
    </div>

    <div class="col-xs-12 col-md-3">
      <label for="dataAgeCombo" class="label label-info" translate>jvmGc.MAX_DATA_AGE_LABEL</label>
      <select name="dataAgeCombo" class="combobox form-control" ng-model="dataAgeLimit">
        <option value="10000" translate="jvmGc.dataAge.SECONDS" translate-values="{ SECONDS: 10 }" translate-interpolation="messageformat"></option>
        <option value="30000" selected translate="jvmGc.dataAge.SECONDS" translate-values="{ SECONDS: 30, DEFAULT: true }" translate-interpolation="messageformat"></option>
        <option value="60000" translate="jvmGc.dataAge.MINUTES" translate-values="{ MINUTES: 1 }" translate-interpolation="messageformat"></option>
        <option value="300000" translate="jvmGc.dataAge.MINUTES" translate-values="{ MINUTES: 5 }" translate-interpolation="messageformat"></option>
        <option value="900000" translate="jvmGc.dataAge.MINUTES" translate-values="{ MINUTES: 15 }" translate-interpolation="messageformat"></option>
      </select>
    </div>
  </div>

  <div class="row row-cards-pf">
    <div class="container-fluid container-cards-pf">

      <div class="col">
        <div class="card-pf card-pf-view">
          <div class="card-pf-heading">
            <label class="card-pf-title" translate>jvmGc.CARD_TITLE</label>
          </div>
          <div ng-repeat="collector in ctrl.collectors">
            <div class="card-pf-body text-center">
              <mc-add class="pull-right" svc-name="{{ctrl.jvmId}}-{{sanitize(collector)}}-gc" get-fn="ctrl.multichartFn(collector)"></mc-add>
              <div pf-line-chart id="chart-{{collector}}" config="ctrl.chartConfigs[collector]"
                                                          chart-data="ctrl.chartData[collector]"
                                                          show-x-axis="true"
                                                          show-y-axis="true"
                                                          ></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
